*,
*::before,
*::after {
  box-sizing: border-box;
}

// body {
//   min-height: 100vh;
//   background: linear-gradient(
//     180deg,
//     #67a295,
//     #80b193,
//     #9dba8f,
//     #b9bc86,
//     #c7bb7e,
//     #e6b062,
//     #ffba5a,
//     #f68d55,
//     #e4614a,
//     #7f3c62
//   );
// }

.gallery {
  $this: &;
  // padding: 1em;
  // max-width: 1100px;
  width: 100%;
  display: grid;
  margin: 0 auto;
  grid-gap: 1em;
  grid-auto-flow: dense;

  &__caption {
    text-transform: uppercase;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    font-size: 0.9em;
    letter-spacing: 0.1em;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: block;
    left: 0;
    width: 100%;
    padding: 1.5em 1em 1.2em;
    color: white;
    transform: translate3d(0, 100%, 0);
    transition: transform 0.3s 0.15s cubic-bezier(0.7, 0.53, 0.18, 0.89);
  }

  &__item {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    // height: 300px;
    height: 100%;
    margin: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:hover #{$this}__caption {
      transform: translate3d(0, 0, 0);
    }

    img {
      filter: sepia(0.4);
      opacity: 0.8;
      background: gray;
      object-fit: cover;
      object-position: 50% 50%;
      flex: 1;
      display: block;
      max-width: 100%;
      height: 100%;
      text-align: center;
      color: white;
      transition: opacity 200ms, transform 400ms;

      &:hover {
        opacity: 1;
        transform: scale(1.04) rotate(-1deg);
      }

      &::before,
      &::after {
        padding: 2em;
        font-size: 0.85em;
        content: "Loading image";
        display: block;
        margin-bottom: 10px;
        opacity: 0.5;
      }

      &::after {
        content: "Please wait...";
      }
    }
  }

  @media screen and (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);

    &__item:nth-child(5) {
      grid-column: auto / span 2;
    }
  }

  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(180px, auto);

    &__item {
      height: auto;
    }

    &__item:nth-child(1) {
      grid-column: auto / span 2;
    }

    &__item:nth-child(3) {
      grid-row: auto / span 2;
    }

    &__item:nth-child(4) {
      grid-column: 2 / span 2;
    }

    &__item:nth-child(5) {
      grid-column: 2 / span 2;
    }

    &__item:nth-child(6) {
      grid-column: auto / span 2;
    }
  }
}
